@model GetGuideByIdQueryResult
@{
    ViewData["Title"] = "GetGuides";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Rehber Bilgilerini Güncelle</h1>
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <small class="text-muted float-end">Güncelle</small>
            </div>
            <div class="card-body">
                <form method="post">
                    @Html.HiddenFor(x => x.GuideId)
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">@Html.Label("İsim")</label>
                        <input type="text" class="form-control" id="basic-default-fullname" asp-for="GuideName" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">@Html.Label("Soyisim")</label>
                        <input type="text" class="form-control" id="basic-default-fullname" asp-for="GuideSurname" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">@Html.Label("Açıklama")</label>
                        <input type="text" class="form-control" id="basic-default-fullname" asp-for="GuideDescription" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">@Html.Label("Görsel Url")</label>
                        <input type="text" class="form-control" id="basic-default-fullname" asp-for="ImageUrl" />
                    </div>

                    <button class="badge bg-label-info me-1"><i class="bx bx-edit-alt me-1"></i>Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>


