@using EntityLayer.Concrete
@model List<Comment>

<div class="comments mt-5">
    <h4 class="side-title ">Yorumlar (@ViewBag.commentCount)</h4>
    @foreach (var item in Model)
    {
        <div class="item">
            <div class="testimony-wrap d-flex">
                @if (item.AppUser != null)
                {
                    <div class="user-img mb-5" style="background-image: url(@item.AppUser.ImageUrl)">
                        <span class="quote d-flex align-items-center justify-content-center">
                            <i class="icon-quote-left"></i>
                        </span>
                    </div>
                }
                else
                {
                    <div class="user-img mb-5" style="background-image: url('/path/to/default/image.png')">
                        <span class="quote d-flex align-items-center justify-content-center">
                            <i class="icon-quote-left"></i>
                        </span>
                    </div>
                }
                <div class="text ml-md-4">
                    <p class="mb-5">@item.CommentUser</p>
                    <p class="name">@item.CommentDate.ToString("dd/MMM/yyyy")</p>
                    <span class="position">@item.CommentContent</span>
                </div>
            </div>
        </div>
    }
</div>
