@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<body>
	<div class="hero-wrap js-fullheight" style="background-image: url('/direngine-master/images/bg_3.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
					<p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/Default/Index">Anasayfa</a></span> <span>Rotalar</span></p>
					<h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Turlar</h1>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<section class="ftcok-ssection ftco-degree-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<!--DESTİNATON-->
						@foreach(var item in Model)
						{
							<div class="col-md-4 ftco-animate">
								<div class="destination">
									<a href="/Destination/DestinationDetails/@item.DestinationId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('@item.DestinationImage');">
										<div class="icon d-flex justify-content-center align-items-center">
											<span class="icon-search2"></span>
										</div>
									</a>
									<div class="text p-3">
										<div class="d-flex">
											<div class="one">
												<h3><a href="#">@item.DestinationCity</a></h3>
												
											</div>
											<div class="two">
												<span class="price">@item.DestionationPrice ₺</span>
											</div>
										</div>
										<p>@item.DestionationDescription</p>
										<p class="days"><span>@item.DestionationDaysNight</span></p>
										<hr>
										<p class="bottom-area d-flex">
											<span><i class="icon-map-o"></i> @item.DestinationCity</span>
											<span class="ml-auto"><a href="/Destination/DestinationDetails/@item.DestinationId">Keşfetmek</a></span>
										</p>
									</div>
								</div>
							</div>
							
						}
						
						<!--DESTİNATİON END-->
					</div>
					<div class="row mt-5">
						<div class="col text-center">
							<div class="block-27">
								<ul>
									<li><a href="#">&lt;</a></li>
									<li class="active"><span>1</span></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div> <!-- .col-md-8 -->
			</div>
		</div>
	</section> <!-- .section -->
</body>
