@model List<Guide>
    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_UILayout.cshtml";
    }

<div class="hero-wrap js-fullheight" style="background-image: url('https://antalya.com.tr/Uploaded/Content/ac269abe-2a5c-4f57-8ae8-c61aad846792.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/Default/Index">Anasayfa</a></span> <span>Rehberlerimiz</span></p>
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Rehberlerimiz</h1>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                        <div class="col-md-4 ftco-animate">
                            <div class="destination">
                                <a  class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url('@item.ImageUrl');">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="#">@item.GuideName @item.GuideSurname</a></h3>
                                        </div>
                                        <div class="two">
                                           
                                        </div>
                                    </div>
                                    <p style="color:blue">@item.GuideDescription</p>
                                    <p>@item.GuideDescription2</p>
                                    <hr>
                                   
                                </div>
                            </div>
                        </div>
                        }
                    </div>

                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section>



