@using DocumentFormat.OpenXml.EMMA
@model List<Hotels>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div class="hero-wrap js-fullheight" style="background-image: url('/direngine-master/images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 ftco-animate">
                            <div class="destination">
                                <a href="/Hotel/HotelDetails/@item.HotelId" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(@item.HotelImageUrl);">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-search2"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="hotel-single.html">@item.HotelCity</a></h3>
                                        </div>
                                        <div class="two">
                                            <span class="price per-price">@item.HotelPrice ₺<br><small>@item.HotelDayNight</small></span>
                                        </div>
                                    </div>
                                    <hr>
                                    <p class="bottom-area d-flex">
                                        <span><i class="icon-map-o"></i>@item.HotelCapacity Kişi</span>
                                        <span class="ml-auto"><a href="/Hotel/HotelDetails/@item.HotelId">Şimdi Bak</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section>

